<!-- Proyectos Section - Flex con 3 filas -->
<section id="proyectos" class="py-20">
  <div class="container w-11/12 max-w-350 mx-auto py-5 relative">
    <h2 id="projectsTittle" class="section-title text-white text-4xl font-bold mb-10 relative text-center pb-4">
      Proyectos
    </h2>

    <div class="flex flex-col gap-6">

      <!-- FILA 1: Nueva tarjeta + Distrito Japones -->
      <div class="flex flex-col md:flex-row gap-6">

        <!-- 1. TiempoModa -->
        <div class="flex flex-1">
          <div class="bg-slate-900/70 backdrop-blur-sm border border-gray-600/40 rounded-2xl overflow-hidden w-full transition-all duration-500 ease-in-out group cursor-pointer hover:shadow-2xl hover:shadow-cyan hover:border-cyan-800" data-project-card>
            <div class="collapsed-view h-full flex flex-col items-center justify-center p-4 sm:p-6 md:p-8 transition-opacity duration-300 min-h-70 sm:min-h-80">
              <h3 id="tiempoModaTittle" class="text-xl sm:text-2xl font-bold text-white mb-4 sm:mb-6 text-center">Tiempo Moda</h3>
              <h4 id="tiempoModaDate" class="text-sm sm:text-base font-bold text-white mb-4 sm:mb-6 text-center">Enero 2026 - Abril 2026</h4>
              <div class="animate-pulse transition-all duration-800">
                
                <!-- Cursor Click -->
                <svg width="32" height="32" class="text-cyan-500"> 
                  <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-cursor-click" />
                </svg>


              </div>
            </div>
            <div class="expanded-view hidden opacity-0 transition-opacity duration-300 min-h-70 sm:min-h-80 h-full">
              <div class="flex flex-col md:flex-row h-full p-4 sm:p-6 gap-4 sm:gap-6 min-h-70 sm:min-h-80">
                <div class="w-full md:w-1/2 flex flex-col gap-3 sm:gap-4">
                  <div class="h-32 sm:h-40 rounded-xl overflow-hidden border border-gray-600/40">
                    <img src={`${import.meta.env.BASE_URL}TiempoModa.webp`} alt="TiempoModa" class="w-full h-full object-cover hover:scale-110 transition-transform duration-700" />
                  </div>

                  <div class="flex flex-wrap gap-2">
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-white transition-all duration-200">
                      <!-- SVG Astro -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-astro" />
                      </svg>
                      <span>Astro</span>
                    </div>
                    
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-cyan-400 transition-all duration-200">
                      <!-- SVG Tailwind -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-tailwind" />
                      </svg>
                      <span>Tailwind</span>
                    </div>
                    
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-yellow-300 transition-all duration-200">
                      <!-- SVG JavaScript -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-javascript" />
                      </svg>
                      <span>JavaScript</span>
                    </div>
                  </div>

                </div>
                <div class="w-full md:w-1/2 flex flex-col h-full">
                  <h3 id="tiempoModaTittleExpanded" class="text-lg sm:text-xl font-bold text-white mb-2 sm:mb-3">Tiempo Moda</h3>
                  <p id="tiempoModaDataExpanded" class="text-gray-200 text-xs sm:text-sm leading-relaxed flex-1 mb-0">E-commerce hecho en colaboración con un equipo de desarrollo. Este proyecto se desarrollo en base a las espectativas y requisitos del cliente junto a la libertad creativa que se me ha dado para crear la interfaz de la página.</p>
                  <a href="https://tiempomoda.com.ec/" target="_blank" class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-transparent hover:bg-blue-500/10 text-blue-400 hover:text-blue-300 rounded-full border border-blue-500/50 hover:border-blue-400 transition-all duration-200 hover:scale-[1.02] active:scale-95 mt-auto text-sm">
                    <span id="tiempoModaLinkExpanded" class="font-medium">Abrir Proyecto</span>
                    
                      <!-- SVG Open -->
                      <svg width="16" height="16"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-open" />
                      </svg>

                    
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>












        <!-- 2. Distrito Japones -->
        <div class="flex flex-1">
          <div class="bg-slate-900/70 backdrop-blur-sm border border-gray-600/40 rounded-2xl overflow-hidden w-full transition-all duration-500 ease-in-out group cursor-pointer hover:shadow-2xl hover:shadow-cyan hover:border-cyan-800" data-project-card>
            <div class="collapsed-view h-full flex flex-col items-center justify-center p-4 sm:p-6 md:p-8 transition-opacity duration-300 min-h-70 sm:min-h-80">
              <h3 id="distritoJaponesTittle" class="text-xl sm:text-2xl font-bold text-white mb-4 sm:mb-6 text-center">Distrito Japones</h3>
              <h4 id="distritoJaponesDate" class="text-sm sm:text-base font-bold text-white mb-4 sm:mb-6 text-center">Agostoh4025 - Septiembre 2025</h4>
              <div class="animate-pulse transition-all duration-800">

                <!-- Cursor Click -->
                <svg width="32" height="32" class="text-cyan-500"> 
                  <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-cursor-click" />
                </svg>

              </div>
            </div>
            <div class="expanded-view hidden opacity-0 transition-opacity duration-300 min-h-70 sm:min-h-80 h-full">
              <div class="flex flex-col md:flex-row h-full p-4 sm:p-6 gap-4 sm:gap-6 min-h-70 sm:min-h-80">
                <div class="w-full md:w-1/2 flex flex-col gap-3 sm:gap-4">
                  <div class="h-32 sm:h-40 rounded-xl overflow-hidden border border-gray-600/40">
                    <img src={`${import.meta.env.BASE_URL}Distrito Japones.webp`} alt="Distrito Japones" class="w-full h-full object-cover hover:scale-110 transition-transform duration-700" />
                  </div>

                  <div class="flex flex-wrap gap-2">
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-orange-500 transition-all duration-200">
                      

                      <!-- SVG HTML -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-html" />
                      </svg>
                      
                      <span>HTML</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-cyan-400 transition-all duration-200">
                      
                      <!-- SVG Tailwind -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-tailwind" />
                      </svg>
                      <span>Tailwind</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-yellow-300 transition-all duration-200">
                      
                      <!-- SVG JavaScript -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-javascript" />
                      </svg>
                      <span>JavaScript</span>
                    </div>

                  </div>
                </div>
                <div class="w-full md:w-1/2 flex flex-col h-full">
                  <h3 id="distritoJaponesTittleExpanded" class="text-lg sm:text-xl font-bold text-white mb-2 sm:mb-3">Distrito Japones</h3>
                  <p id="distritoJaponesDataExpanded" class="text-gray-200 text-xs sm:text-sm leading-relaxed flex-1 mb-0">Diseñé y desarrollé la interfaz de una plataforma de comercio electrónico moderna desarrollada para la venta digital de contenido japonés oficial como anime, música y videografía mediante cangeo de monedas virtuales. <br> <span id="distritoJaponesSpanExpanded" class="text-cyan-400 font-semibold">PROYECTO DE PRÁCTICA</span></p>
                  <a href={`${import.meta.env.BASE_URL}Distrito Japones.html`} target="_blank" class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-transparent hover:bg-blue-500/10 text-blue-400 hover:text-blue-300 rounded-full border border-blue-500/50 hover:border-blue-400 transition-all duration-200 hover:scale-[1.02] active:scale-95 mt-auto text-sm">
                    <span id="distritoJaponesLinkExpanded" class="font-medium">Abrir Proyecto</span>
                    <!-- SVG Open -->
                      <svg width="16" height="16"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-open" />
                      </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>













      <!-- FILA 2: Cate-SIS + Statify -->
      <div class="flex flex-col md:flex-row gap-6">

        <!-- 3. Cate-SIS -->
        <div class="flex flex-1">
          <div class="bg-slate-900/70 backdrop-blur-sm border border-gray-600/40 rounded-2xl overflow-hidden w-full transition-all duration-500 ease-in-out group cursor-pointer hover:shadow-2xl hover:shadow-cyan hover:border-cyan-800" data-project-card>
            <div class="collapsed-view h-full flex flex-col items-center justify-center p-4 sm:p-6 md:p-8 transition-opacity duration-300 min-h-70 sm:min-h-80">
              <h3 class="text-xl sm:text-2xl font-bold text-white mb-4 sm:mb-6 text-center">Cate-SIS</h3>
              <h4 id="cateSISDate" class="text-sm sm:text-base font-bold text-white mb-4 sm:mb-6 text-center">Octubre 2025 - Diciembre 2025</h4>
              <div class="animate-pulse transition-transform duration-800">
                
                <!-- Cursor Click -->
                <svg width="32" height="32" class="text-cyan-500"> 
                  <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-cursor-click" />
                </svg>

              </div>
            </div>
            <div class="expanded-view hidden opacity-0 transition-opacity duration-300 min-h-70 sm:min-h-80 h-full">
              <div class="flex flex-col md:flex-row h-full p-4 sm:p-6 gap-4 sm:gap-6 min-h-70 sm:min-h-80">
                <div class="w-full md:w-1/2 flex flex-col gap-3 sm:gap-4">
                  <div class="h-32 sm:h-40 rounded-xl overflow-hidden border border-gray-600/40">
                    <img src={`${import.meta.env.BASE_URL}Cate-SIS.webp`} alt="Cate-SIS" class="w-full h-full object-cover hover:scale-110 transition-transform duration-700" />
                  </div>
                  <div class="flex flex-wrap gap-2">
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-orange-500 transition-all duration-200">
                      

                      <!-- SVG HTML -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-html" />
                      </svg>
                      
                      <span>HTML</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-cyan-400 transition-all duration-200">
                      
                      <!-- SVG Tailwind -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-tailwind" />
                      </svg>
                      <span>Tailwind</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-yellow-300 transition-all duration-200">
                      
                      <!-- SVG JavaScript -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-javascript" />
                      </svg>
                      <span>JavaScript</span>
                    </div>
                    
                  </div>
                </div>
                <div class="w-full md:w-1/2 flex flex-col h-full">
                  <h3 class="text-lg sm:text-xl font-bold text-white mb-2 sm:mb-3">Cate-SIS</h3>
                  <p id="cateSISDataExpanded" class="text-gray-200 text-xs sm:text-sm leading-relaxed flex-1 mb-0">Diseñé y desarrollé la interfáz de un sistema web académico de catesismo para una escuela Católica en Otavalo, Ecuador. <br> <span id="cateSISSpanExpanded" class="text-cyan-400 font-semibold">SISTEMA PRIVADO</span></p>
                  <a href={`${import.meta.env.BASE_URL}Cate-SIS.html`} target="_blank" class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-transparent hover:bg-blue-500/10 text-blue-400 hover:text-blue-300 rounded-full border border-blue-500/50 hover:border-blue-400 transition-all duration-200 hover:scale-[1.02] active:scale-95 mt-auto text-sm">
                    <span id="cateSISLinkExpanded" class="fontspanium">Abrir Proyecto</span>
                    <!-- SVG Open -->
                      <svg width="16" height="16"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-open" />
                      </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>















        <!-- 4. Statify -->
        <div class="flex flex-1">
          <div class="bg-slate-900/70 backdrop-blur-sm border border-gray-600/40 rounded-2xl overflow-hidden w-full transition-all duration-500 ease-in-out group cursor-pointer hover:shadow-2xl hover:shadow-cyan hover:border-cyan-800" data-project-card>
            <div class="collapsed-view h-full flex flex-col items-center justify-center p-4 sm:p-6 md:p-8 transition-opacity duration-300 min-h-70 sm:min-h-80">
              <h3 class="text-xl sm:text-2xl font-bold text-white mb-4 sm:mb-6 text-center">Statify</h3>
              <h4 id="statifyDate" class="text-sm sm:text-base font-bold text-white mb-4 sm:mb-6 text-center">Septiembre 2024 - Junio 2025</h4>
              <div class="animate-pulse transition-all duration-800">

                <!-- Cursor Click -->
                <svg width="32" height="32" class="text-cyan-500"> 
                  <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-cursor-click" />
                </svg>

              </div>
            </div>
            <div class="expanded-view hidden opacity-0 transition-opacity duration-300 min-h-70 sm:min-h-80 h-full">
              <div class="flex flex-col md:flex-row h-full p-4 sm:p-6 gap-4 sm:gap-6 min-h-70 sm:min-h-80">
                <div class="w-full md:w-1/2 flex flex-col gap-3 sm:gap-4">
                  <div class="h-32 sm:h-40 rounded-xl overflow-hidden border border-gray-600/40">
                    <img src={`${import.meta.env.BASE_URL}Statify.webp`} alt="Statify" class="w-full h-full object-cover hover:scale-110 transition-transform duration-700" />
                  </div>
                  <div class="flex flex-wrap gap-2">
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-orange-500 transition-all duration-200">
                      
                      <!-- SVG HTML -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-html" />
                      </svg>

                      <span>HTML</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-blue-600 transition-all duration-200">
                      
                      <!-- SVG CSS -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-css" />
                      </svg>

                      <span>CSS</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-violet-600 transition-all duration-200">
                      <!-- SVG Bootstrap -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-bootstrap" />
                      </svg>
                      <span>Bootstrap</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-yellow-300 transition-all duration-200">
                      <!-- SVG JavaScript -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-javascript" />
                      </svg>
                      
                      <span>JavaScript</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-orange-500 transition-all duration-200">
                      <!-- SVG JavaScript -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-codeigniter" />
                      </svg>
                      <span>CodeIgniter</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-violet-300 transition-all duration-200">
                      
                      <!-- SVG PHP -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-php" />
                      </svg>
                      <span>PHP</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-gray-200 transition-all duration-200">
                      <!-- SVG MySQL -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-mysql" />
                      </svg>
                      <span>MySQL</span>
                    </div>
                    
                  </div>
                </div>
                <div class="w-full md:w-1/2 flex flex-col h-full">
                  <h3 class="text-lg sm:text-xl font-bold text-white mb-2 sm:mb-3">Statify</h3>
                  <p id="statifyDataExpanded" class="text-gray-200 text-xs sm:text-sm leading-relaxed flex-1 mb-0">Sistema Web de registro, reporte y visualización de datos estadísticos sobre incidentes y siniestros de la zona norte de la provincia Imbabura en Ecuador para la empresa de movilidad Movidelnor EP mediante gráficas interactivas.</p>
                  <a href="https://movidelnor.gob.ec/web/webepm/estadisticas/" target="_blank" class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-transparent hover:bg-blue-500/10 text-blue-400 hover:text-blue-300 rounded-full border border-blue-500/50 hover:border-blue-400 transition-all duration-200 hover:scale-[1.02] active:scale-95 mt-auto text-sm">
                    <span id="statifyLinkExpanded" class="font-medium">Abrir Proyecto</span>
                    <!-- SVG Open -->
                      <svg width="16" height="16"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-open" />
                      </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>














      </div>

      <!-- FILA 3: Contador de fallecidos y lesionados (centrada) -->
      <div class="flex justify-center">

        <div class="flex w-full md:w-1/2">
          <div class="bg-slate-900/70 backdrop-blur-sm border border-gray-600/40 rounded-2xl overflow-hidden w-full transition-all duration-500 ease-in-out group cursor-pointer hover:shadow-2xl hover:shadow-cyan hover:border-cyan-700" data-project-card>
            <div class="collapsed-view h-full flex flex-col items-center justify-center p-4 sm:p-6 md:p-8 transition-opacity duration-300 min-h-70 sm:min-h-80">
              <h3 id="contadorFallecidosTittle" class="text-xl sm:text-2xl font-bold text-white mb-4 sm:mb-6 text-center">Contador de fallecidos y lesionados</h3>
              <h4 id="contadorFallecidosDate" class="text-sm sm:text-base font-bold text-white mb-4 sm:mb-6 text-center">Marzo 2024 - Julio 2024</h4>
              <div class="animate-pulse transition-transform duration-800">

                <!-- Cursor Click -->
                <svg width="32" height="32" class="text-cyan-500"> 
                  <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-cursor-click" />
                </svg>

              </div>
            </div>
            <div class="expanded-view hidden opacity-0 transition-opacity duration-300 min-h-70 sm:min-h-80 h-full">
              <div class="flex flex-col md:flex-row h-full p-4 sm:p-6 gap-4 sm:gap-6 min-h-70 sm:min-h-80">
                <div class="w-full md:w-1/2 flex flex-col gap-3 sm:gap-4">
                  <div class="h-32 sm:h-40 rounded-xl overflow-hidden border border-gray-600/40">
                    <img src={`${import.meta.env.BASE_URL}Contador de Fallecidos y Lesionados.webp`} alt="Captura de pantalla de la Página del Contador de fallecidos y lesionados" class="w-full h-full object-cover hover:scale-110 transition-transform duration-700" />
                  </div>
                  <div class="flex flex-wrap gap-2">
                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-orange-500 transition-all duration-200">
                      

                      <!-- SVG HTML -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-html" />
                      </svg>
                      
                      <span>HTML</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-cyan-400 transition-all duration-200">
                      
                      <!-- SVG CSS -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-css" />
                      </svg>
                      <span>CSS</span>
                    </div>

                    <div class="flex items-center gap-1.5 px-2.5 py-1 bg-slate-900 text-white text-xs font-medium rounded-full border border-gray-800 hover:scale-105 hover:border-yellow-300 transition-all duration-200">
                      
                      <!-- SVG JavaScript -->
                      <svg width="15" height="15"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-javascript" />
                      </svg>
                      <span>JavaScript</span>
                    </div>
                    
                  </div>
                </div>
                <div class="w-full md:w-1/2 flex flex-col h-full">
                  <h3 id="contadorFallecidosTittleExpanded" class="text-lg sm:text-xl font-bold text-white mb-2 sm:mb-3">Contador de fallecidos y lesionados</h3>
                  <p id="contadorFallecidosDataExpanded" class="text-gray-200 text-xs sm:text-sm leading-relaxed flex-1 mb-0">Página web desarrollada para llevar un registro actualizado de fallecidos y lesionados en la provincia de Imbabura en Ecuador para la empresa de movilidad Movidelnor EP en Ibarra Ecuador mediante un promedio semanal calculado por la misma empresa.</p>
                  <a href="https://movidelnor.gob.ec/web/webepm/contador-de-muertes/" target="_blank" class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-transparent hover:bg-blue-500/10 text-blue-400 hover:text-blue-300 rounded-full border border-blue-500/50 hover:border-blue-400 transition-all duration-200 hover:scale-[1.02] active:scale-95 mt-auto text-sm">
                    <span id="contadorFallecidosLinkExpanded" class="font-medium">Abrir Proyecto</span>
                    <!-- SVG Open -->
                      <svg width="16" height="16"> 
                        <use href="/Portafolio-FranlyAlvarezVarona/icons.svg#icon-open" />
                      </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

